* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --white: #fff;
    --grey-1: #eee;
    --grey-2: #ccc;
    --grey-3: #666;
    --grey-4: #444;
    --black: #111;
    --blue: #0d6efd;
    --color-1: #155366;
    --color-1-dk: #163a44;
    --color-2: #1e8f5a;
    --color-2-dk: #206e48;
}

html {
    font-family: "Roboto", sans-serif;
    font-size: min(1vw, 14px);
    background-color: var(--white);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: var(--white);
    background-color: var(--color-1);
}

main {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}

section {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 1rem;
}

h1 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
}

button {
    font-size: 1rem;
    width: 100%;
    padding: 0.5rem 1rem;
    font-weight: bold;
    color: var(--white);
    background-color: var(--color-2);
    border: none;
}

button:hover {
    cursor: pointer;
    background-color: var(--color-2-dk);
}

.btn-rem {
    color: var(--white);
    background-color: var(--color-1);
}

.btn-rem:hover {
    background-color: var(--color-1-dk);
}

table, th, td {
    border: 2px solid var(--black);
    border-collapse: collapse;
}

th {
    padding: 0.5rem;
    background-color: var(--grey-2);
}

.th {
    font-weight: bold;
    padding: 0.5rem;
    background-color: var(--grey-2);
}

.w-s {
    width: 4rem;
}

.w-m {
    width: 6rem;
}

.w-l {
    width: 8rem;
}

.w-h {
    width: 50%;
}

.h-m {
    height: 3.5rem;
}

.dark {
    color: var(--white);
    background-color: var(--grey-3);
}

input {
    font-size: 1rem;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    border: none;
}

.hidden {
    display: none;
}

.height-fit {
    height: fit-content;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.justify-between {
    display: flex;
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.flex {
    flex: 1;
}

.mt {
    margin-top: 1rem;
}

.switch {
    display: flex;
    width: 50px;
    margin-right: 1rem;
    padding: 4px;
    background-color: var(--grey-2);
    border-radius: 15px;
    transition: all 0.2s ease;
}

.switch:hover {
    cursor: pointer;
}

.switch-control {
    width: 15px;
    height: 15px;
    background-color: var(--white);
    border-radius: 50%;
}

.switch-on {
    justify-content: flex-end;
    background-color: var(--blue);
}
